<section class="marquee-wrap">
  <div class="marquee">
    <div class="marquee-content">

      <span>NEW: LE SAC BAGUETTE</span>
      <img
        src="{{ 'beg.png' | asset_url }}"
        alt="bag"
        height=""
        width="">

      <span>NEW ARRIVALS</span>
      <img
        src="{{ 'mn-bg.png' | asset_url }}"
        alt="bag"
        height=""
        width="">

      <span>SHOP NOW</span>
      <img
        src="{{ 'men-bg.png' | asset_url }}"
        alt="bag"
        height=""
        width="">

      <!-- Repeat Content To Make The Loop Smooth -->
      <span>NEW: LE SAC BAGUETTE</span>
      <img
        src="{{ 'beg.png' | asset_url }}"
        alt="bag"
        height=""
        width="">

      <span>NEW ARRIVALS</span>
      <img
        src="{{ 'bag.jpg' | asset_url }}"
        alt="bag"
        height=""
        width="">

      <span>SHOP NOW</span>
      <img
        src="{{ 'bag.jpg' | asset_url }}"
        alt="bag"
        height=""
        width="">

    </div>
  </div>
</section>

<section class="marquee-wrap reverse">
  <div class="marquee">
    <div class="marquee-content">

      <span>NEW: LE SAC BAGUETTE</span>
      <img
        src="{{ 'beg.png' | asset_url }}"
        alt="bag"
        height=""
        width="">

      <span>NEW ARRIVALS</span>
      <img
        src="{{ 'mn-bg.png' | asset_url }}"
        alt="bag"
        height=""
        width="">

      <span>SHOP NOW</span>
      <img
        src="{{ 'men-bg.png' | asset_url }}"
        alt="bag"
        height=""
        width="">

      <!-- Repeat Content To Make The Loop Smooth -->
      <span>NEW: LE SAC BAGUETTE</span>
      <img
        src="{{ 'beg.png' | asset_url }}"
        alt="bag"
        height=""
        width="">

      <span>NEW ARRIVALS</span>
      <img
        src="{{ 'bag.jpg' | asset_url }}"
        alt="bag"
        height=""
        width="">

      <span>SHOP NOW</span>
      <img
        src="{{ 'bag.jpg' | asset_url }}"
        alt="bag"
        height=""
        width="">

    </div>
  </div>
</section>

<section>
  {% render 'our-looks' %}
</section>